body,html{
    height: 100%;
    position: relative;
}

.search-main{
    padding-top:10%;
}

.hidden-solution-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:20px;
    color:white;
}

.footer-link{
    padding-left:1%;
}