<footer class="hidden-solution-footer teal lighten-1">
    <div class="footer-copyright">
        <div class="container">
            © 2019 HiddenSolutions
            <a class="grey-text text-lighten-4 right footer-link" href="/about">What is this about?</a>
        </div>
    </div>
</footer>