@inject NavigationManager NavigationManager

<nav class="teal lighten-1">
    <div class="nav-wrapper">
        @* <a href= "" class="brand-logo" style="padding-left:1%;" @onclick="NavigateToSearch"><i class="material-icons">cloud</i>HiddenSolutions</a> *@
        <NavLink style="padding-left:1%;" class="nav-link" href="/home" Match="NavLinkMatch.All">
            <span class="brand-logo" aria-hidden="true"><i class="material-icons">cloud</i>HiddenSolutions</span>
        </NavLink>
        <form class="right">
            <div class="input-field">
                <input id="search-navbar" type="search" required @bind-value="SearchQuery" @bind-value:event="oninput" @onkeyup="NavigateToSearch">
                <label class="label-icon" for="search-navbar">
                    <i class="material-icons">search</i>
                </label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

@code
{
    
    private string SearchQuery { get; set; }
    
    private void NavigateToSearch()
    {
        NavigationManager.NavigateTo($"search/{SearchQuery}");
    }
}