@inject NavigationManager NavigationManager

<nav class="teal lighten-1">
    <div class="nav-wrapper">
        <a href="" class="brand-logo" style="padding-left:1%;" @onclick="NavigateToSearch"><i class="material-icons">cloud</i>HiddenSolutions</a>
        <form class="right">
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

@code
{
    
    private void NavigateToSearch()
    {
        NavigationManager.NavigateTo("/");
    }

}