@inject NavigationManager NavigationManager

<nav class="teal lighten-1">
    <div class="nav-wrapper">
        @* <a href= "" class="brand-logo" style="padding-left:1%;" @onclick="NavigateToSearch"><i class="material-icons">cloud</i>HiddenSolutions</a> *@
        <NavLink style="padding-left:1%;" class="nav-link" href="/home" Match="NavLinkMatch.All">
                        <span class="brand-logo" aria-hidden="true"><i class="material-icons">cloud</i>HiddenSolutions</span> 
                    </NavLink>
@* <button @onclick=@NavigateToSearch>TEST</button> *@
<form class="right">
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

@code
{
}